.OutlinedButton{
    border-radius: 55px;
    border-width: 2px;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "Muli";
    font-size: 18px;
    border-color: var(--background-color);
    margin-top: 48px;
    font-weight: 700;
    padding-right: 40px;
    color: var(--background-color);
    background: var(--button-color);
}