.container{
    border-radius: 20px;
    box-shadow: 0px 30px 40px -20px var(--gray-color);
    padding: 30px;
    text-align: left;
    display: inline-block;
    max-width: 20%;
    max-height: 30%;
    margin: 20px;  
}

.container h1{
    text-align: left;
    font-family: "Muli";
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
}
.container body{
    text-align: left;
    color: var(--gray-color);
    font-family: "Muli";
    font-size: 16px;
    font-weight: 300;
}
.container .image{
    display:block;
    width: 15%;
    height: 15%;
}