:root {
    --header-color:#1F1534;
    --background-color:#458FF6;
    --button-color:#FFFFFF;
    --gray-color:#7D7987;
    --button-hover-color:#295fab;
    --blue-color:#67C3F3;
    --dark-blue-color:#5A98F2;
}